# Build artifacts
**/bin/
**/obj/
Common/obj/
BKB-Tool/obj/

# Environment files
.env
*.json

# Local folders
Downloads/
Datenaustausch/
Ausgabeverzeichnis/
Passwörter/
publish/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects / DLLs
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel module compile results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Visual Studio
.vs/
*.user
*.suo
*.cache/
*.ide/
*.VC.db
*.VC.VC.opendb
